*{
    padding: 0;
    margin: 0;
}
p{
    margin-bottom: 0;
}

/* NavBar */

nav{
    background: linear-gradient(to bottom , pink, #ffefd5, white);
}


/* baneer */

.banner{
    /* fondo  */
    height: 100vh;
    background-image: url('imagenes/img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
}
.Banner__contenido{
    max-width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* frase */

.frase{
    margin: 1rem 0;
    background: linear-gradient(to left , black , darkslategrey, black);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

/* Donde */

.donde{
    background-image: url(https://crehana-blog.s3.amazonaws.com/media/filer_public/c4/e8/c4e80f21-7628-4e32-9175-0da572270f8f/fondos_invitaciones_con_plantas_2.jpg);
    background-size: contain;
    padding: 1rem;  
}

.donde__card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.imagenDonde{
    width: 250px;
    margin: auto;
    height: 250px;
}
.donde__card__item{ 
    border-radius: 2rem;
    padding: 0.5rem;
}
iframe{
    border-radius: 1rem;
}

/* imagenes carrusel */

.imagenCarrusel{
    height: 450px;
}


/* confirmacion */

.confirmacion__nombre__item{
    border: none;
    border-bottom: 2px black solid;
    border-radius: 1rem;
}


/* baner final  */

.banner__final{
    height: 450px;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    background-image: url('imagenes/img3.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}


/* footer  */

footer{
    height: 80px;
    background-color: #ffefd5;
}