*{
    padding: 0;
    margin: 0;

}
p{
    margin-bottom: 0;
}

/* baneer */

.banner{
    font-family: 'Alex Brush', cursive;
    letter-spacing: 5px;
    height: 100vh;
    background-image: url('imagenes/fondo.png');
    background-size: 80% 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}
.encabezado{
        height: 65vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-content: center;
        justify-content: space-evenly 
}
.flecha{
    font-size: 2rem;
}
/* Cuando */
.cuando{
        margin: 0.5rem 0;
        padding: 1rem;
        height: 100vh;
        text-align: center;
        background-position: center center;
        background-image: url('imagenes/img1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
}
.cuando:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}
.cuando__contenido{
    font-size: 1.3rem;
    letter-spacing: 3px;
    font-family: 'Alex Brush', cursive;
    position: relative;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: space-between;
}
.cuando__contenido__titulo{
    font-size: 3rem;
}



/* frase */

.frase{
    margin: 1rem 0;
    background: linear-gradient(to left , black , darkslategrey, black);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

/* Donde */


.donde__img{
    border-radius: 100%;
    border: 3px solid burlywood;

}

iframe{
    width: 50%;
}

/* dress */

.dress{
    width: 250px;
    height: auto;
}
.dress__estilo{
    font-size: 1.5rem;
}

/* imagenes carrusel */

.imagenCarrusel{
    height: 450px;
}


/* confirmacion */
.confirmacion{
    background: rgb(51,60,79);
    background: linear-gradient(90deg, rgba(51,60,79,1) 0%, rgba(77,140,134,1) 20%, rgba(101,214,184,1) 50%, rgba(77,140,134,1) 80%, rgba(51,60,79,1) 100%);
}
.confirmacion__nombre__item{
    border-bottom: 2px black solid;
    border-radius: 1rem;
}


/* baner final  */

.banner__final{
    height: 450px;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    background-image: url('imagenes/img3.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}


/* footer  */

footer{
    height: 50px;
    background-color: #ffefd5;
}