*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* font */

@font-face {
    font-family: 'Ecuyer';
    src: url('font/EcuyerR0902.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Boulevard';
    src: url('font/Boulevard.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

p{
    margin-bottom: 0;
}

body{
    background-color: #e9e9df;
}
/* baneer */

.banner{
    height: 100vh;
    background-image: url('imagenes/fondo.png');
    background-size: 80% 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;

}
.encabezado{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-content: center;
        justify-content: space-between;
}


.flecha{
    font-size: 2rem;
    color: #333;
}

.titulos{
    font-size: 4.5rem;
    font-family: 'Boulevard', cursive;
    letter-spacing: 3px;
    text-align: center;
    color: #333;
}
#NosCasamos , #NosCasamosNombres{
    color: #636363;
}
.fondoTitulos{
    background-color: #f0f0f0;
    
}
.contenidoFondo{
    background-color: #e9e9df;
}

/* Cuando */


.cuando{
        padding: 0.2rem;
        height: 100vh;
        text-align: center;
        background-position: center center;
        background-image: url('imagenes/img1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        background-attachment: fixed;
        background-position: center ;
}
.cuando:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}
.cuando__contenido{
    position: relative;
    color: #f0f0f0;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: space-between;
}

.cuando__contenido__texto{
    font-size: 2rem;
}
#temporizador{
    font-family: 'Ecuyer';
}


/* frase */

/* Donde */


.donde__Card {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.donde__Card__imagen{
    width: 50%;
}
.donde__Card__imagen img {
    width: 100%;
    height: 400px;
    border-radius: 3px;
}
.donde__Card__texto{
    font-size: 1.5rem;
    width: 50%;
    text-align: center;
    align-self: center;
}
.card__button{
    margin-top: 1rem;
    background-color: #40c94a;
}
.card__button:hover{
    background-color: #009717;
}

iframe{
    width: 100%;
    height: 300px;
    margin: 0.5rem;
}
.textoModal{
    margin-top: 0.5rem;
    font-size: 1rem;

}

.dressCode{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dressCode__imgen img {
    width: 250px;
}
.dressCode__texto{
    font-size: 3rem;
        color: #333;
    ;
}
.imagenCarrusel{
    height: 450px;
}
input, select{
    outline: none;
    border: none;
    border-bottom: 2px solid #333;
    border-radius: 5px;
    padding: 5px;
}
.tag{
    text-decoration: none;

}
/* baner final  */

.banner__final{
    height: 450px;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    background-image: url('imagenes/img3.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}


@media screen and (max-width: 425px){
    .titulos{
        font-size: 2.7rem;
        letter-spacing: 1px;
    }
    .Banner__contenido__texto{
        font-size: 1rem;
    }
    .cuando{
        height: 90vh;
    }
    .cuando__contenido__texto{
        font-size: 1.2rem;
        height: 80%;
    }
    .donde__Card{
        flex-direction: column;
        margin: 1rem 0;   
    }
    .rev{
        flex-direction: column-reverse;
    }
    .donde__Card__imagen{
        width: 95%;
        margin: auto;
    }
    .donde__Card__imagen img{
        height: 350px;
    }
    .donde__Card__texto{
        font-size: 1rem;
        width: 100%;
        margin-top: 10px;
    }
    .card__button{
        margin-bottom: 1rem;
    }
    .confirmacion{
        overflow: hidden;
    }
    form{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: auto;
    }

    form > input, select , #whatsap1 , #whatsap2{
        margin: 5px 0;
    }
}


/* footer  */

footer{
    height: 50px;
    background-color: #ffefd5;
}