*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* font */

@font-face {
    font-family: 'Ecuyer';
    src: url('../font/EcuyerR0902.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
p{
    margin-bottom: 0;
}
body{
    background-color: #e9e9df;
}
.flecha{
    font-size: 2rem;
    color: #FFF;
}
.titulos{
    font-size: 5.5rem;  
    font-family: 'Ms Madi', cursive;
    letter-spacing: 3px;
    text-align: center;
    color: #333;
}
.titulos__cuando{
    color: #FFF;

}
.fondoTitulos{
    background-color: #f0f0f0;
}
/* Cuando */
.cuando{
    height: 100vh;
    text-align: center;
    background-position: center center;
    background-image: url('../luyluchofotos/img2.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.cuando:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
}
.cuando__contenido{
    padding: 1rem;
    position: relative;
    color: #f0f0f0;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: space-between;
}

.cuando__contenido__texto{
    font-size: 5rem;
    font-weight: 100;
    font-family: 'Ms Madi', cursive;
}
#temporizador{
    font-family: 'Ecuyer';
    font-size: 2rem;
}

/* Donde */
.donde{
    display: flex;
    height: auto;
    padding: 2rem;
    justify-content: space-around;
}
.donde__card{
    justify-content: space-between;
    display: flex;
    width: 45%;
    flex-direction: column;
    align-items: center;
}
.donde__card__imagen{
    width: 200px; 
    height: 150px;
    border-radius: 5%;
    box-shadow: 2px 6px 20px 0px;
}
.donde__card__titulo{
    width: 100%;
    text-align: center;
    font-size: 4.5rem;
    font-family: 'Ms Madi', cursive;
}

.donde__card__texto{
    margin:auto;
    text-align: center;
    font-size: 1.2rem;
    width: 90%;
} 

.card__button{
    background-color: #c4a246;
    color: #333;
    border-radius: 100px 15px 100px 15px;
    padding: 8px 20px
}

.card__img{
    width: 75px;
    margin: 1rem auto;
}

iframe{
    width: 100%;
    height: 300px;
    margin: 0.5rem;
}
.textoModal{
    margin-top: 0.5rem;
    font-size: 1rem;

}

.dressCode{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dressCode__imgen img {
    width: 100px;
}
.dressCode__texto{
    font-size: 2rem;
    color: #333;  
}
.carousel{
    width: 70%;
    margin: auto;
}
.imagenCarrusel{
    height: 600px;
    border-radius: 5px;
    width: 80%;
}
.mesaRegalos{
    padding: 1rem;
}
.confirmacion{
    width: 100%;
}
form{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: auto;
    height: 300px;
    justify-content: space-evenly;
}
input, select{  
    background-color: #e9e9df;
    outline: none;
    border: none;
    border-bottom: 2px solid #333;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
}
.buttonsWhatsap{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 35%;
}
.buttonsWhatsap__contenido{
    padding: 10px;
    width: 35%;
    color: #f0f0f0;
    background-color:  #c4a246;
    border-radius: 100px 15px 100px 15px;
}
.buttonsWhatsap__contenido:hover{
color: #59705a;
background-color: wheat;

}

.insta{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.insta__icon{
    color: #c4a246;
    font-size: 5rem;
}
.tag{
    color: #333;
    text-decoration: none;
    font-size: 2.5rem;
}
.tag:hover{
    color: #c4a246;
}
/* baner final  */

.banner__final{
    height: 200px;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    color: wheat;

}
/* footer  */

footer{
    height: 50px;
    background-color: #ffefd5;
}
@media screen and (max-width: 800px){
    form{
        width: 60%;
    }
    .buttonsWhatsap{
        width: 60%;
    }
}

@media screen and (max-width: 500px){
    .titulos{
        font-size: 3rem;
        letter-spacing: 1px;
    }
    .cuando__contenido{
        padding: 2.2rem;
        justify-content: space-around;
    }
    .cuando__contenido__texto{
        font-size: 3.5rem;
    }
    #temporizador{
        font-size: 1.1rem;
    }
    .faltan{
        width: 100%;
    }
    .donde{
        flex-direction: column;
    }
    .donde__card{
        width: 100%;
    }
    .fiesta{
        margin-top: 1rem;
    }
    .donde__card__texto{
        font-size: 1rem;
        width: 100%;
    }
    .addeventatc{
        width: 50%;
    }
    .dressCode__imgen img {
        width: 80px;
    }
    .dressCode__texto{
        font-size: 1.5rem;
    }
    .carousel{
        width: 95%;
    }
    .imagenCarrusel{
        height: 500px;
        width: 100%;
    }
    .confirmacion{
        overflow: hidden;
    }
    form{
        width: 80%;
    }

    form > input, select , #whatsap1 , #whatsap2{
        margin: 5px 0;
    }
    .buttonsWhatsap{
        width: 90%;
    }
    .buttonsWhatsap__contenido{
        padding: 5px;
    }
    .banner__final__titulo{
        margin-top: 2rem;
    }
}
@media screen and (max-width: 375px){
    .titulos{
        font-size: 2.5rem;
    }
    #temporizador{
        font-size: 0.95rem;
    }
    .mesaRegalos{
        font-size: 0.8rem;
    }
    .buttonsWhatsap{
        width: 100%;
    }
}
